@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  dark mode */
    background-color: #1a202c;
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.bg-rarityFive {
    --tw-bg-opacity: 1;
    background-color: rgba(200, 124, 36, var(--tw-bg-opacity));
}

.bg-rarityFour {
    --tw-bg-opacity: 1;
    background-color: rgba(148, 112, 187, var(--tw-bg-opacity));
}

.bg-rarityThree {
    --tw-bg-opacity: 1;
    background-color: rgba(89, 135, 173, var(--tw-bg-opacity));
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* For Firefox */
}

/* Custom scrollbar styles */
.output-container::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.output-container::-webkit-scrollbar-track {
    background: #1e1e1e; /* color of the tracking area */
}

.output-container::-webkit-scrollbar-thumb {
    background-color: #c0c0c0; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 3px solid #2e2e2e; /* creates padding around scroll thumb */
}

/* For Firefox */
.output-container {
    scrollbar-color: #c0c0c0 #1e1e1e; /* thumb and track color */
    scrollbar-width: thin; /* 'auto', 'thin', 'none' */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
